@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply
    bg-primary
}

::-webkit-scrollbar{
    width: 7px;
    background: transparent;
}
::-webkit-scrollbar-track{
    margin-block:0.1em;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(37, 37, 37);
    border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover{
    @apply
    bg-secondary
}
